.campo {
	position: absolute;
	width: 1203px;
	height: 641px;
	border: 10px double gray;
	left: 24px;
	top: 128px;
}

.background {
	background-color: #000000;
}

.bloco_cinza {
	position: absolute;
	width: 30px;
	height: 30px;
	background: #D8D8D8;
	border: 5px outset white;
}

.bloco_cinza_claro {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #FAFAFA;
}

.bandeira {
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 20px solid red;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 0px solid transparent;
}

.numero {
	position: absolute;
	color: #000000;
	font : Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size: 20px;
	font-weight: bold;
}